<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Basic Calendar</title>
  <link rel="stylesheet" href="styles/main.css">
</head>

<body>


  <div>
    <h1><%= selectedActivityName %></h1>
  </div>

  <div>
    <h2></h2>
  </div>


  <div class="calendar">
    <div class="calendar-header">
      <button id="prev-month-btn">&lt;</button>
      <span id="current-month">May 2024</span>
      <button id="next-month-btn">&gt;</button>
    </div>
    <div class="calendar-body">
      <div class="days">Sun</div>
      <div class="days">Mon</div>
      <div class="days">Tue</div>
      <div class="days">Wed</div>
      <div class="days">Thu</div>
      <div class="days">Fri</div>
      <div class="days">Sat</div>
      <!-- Days will be dynamically generated here -->
    </div>
    <!-- Hidden stuff for sending and receving data from server side -->
    <div>
      <form id="streak-form" action="/add" method="post">
        <input hidden="true" type="text" name="selectedDate" id="">
      </form>
      <% if (locals.startDate) { %>
        <input hidden="true" type="text" name="startDate" id="startDate" value="<%= startDate %>">
        <input hidden="true" type="text" name="endDate" id="endDate" value="<%= endDate %>">
        <% } else { %>
          <input hidden="true" type="text" name="startDate" id="startDate" value="">
          <input hidden="true" type="text" name="endDate" id="endDate" value="">
          <% } %>



    </div>
  </div>
  <div>
    <form id="selectActivity" action="/selectActivity" method="post">
      <label for="activities">Select an activity or add a new one:</label><br>
      <div>
        <select class="input-box" id="activities" name="activities" value="<%= selectedActivityName %>">
          <% if (locals.activityList) { %>
            <% activityList.forEach(activity=> { %>
              <option value="<%= activity.activity %>">
                <%= activity.activity %>
              </option>
              <% }) %>
                <% } %>
                  <!-- Add more options as needed -->
                  <option value="addNew">Add New Activity...</option>
        </select>
      </div>

      <br><br>
      <label id="new-activity-label" hidden="true" for="newActivity">New Activity:</label><br>
      <input type="text" id="newActivity" name="newActivity" style="display: none;">
      <br><br>
      <button id="new-activity-btn" hidden="true" type="submit">Submit</button>
    </form>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="script.js"></script>
</body>

</html>